@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  background-color: #bf5372;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #fff;
  color: #ae785d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar h1 {
    margin-bottom: 10px;
  }

  .navbar .links {
    margin-top: 10px;
  }

  .navbar a {
    margin: 0;
  }
}


/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #bf5372;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #bf5372;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #bf5372;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.blog-list table {
  width: 100%;
  border-collapse: collapse;
}

.blog-list th,
.blog-list td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.blog-list th {
  background-color: #f2f2f2;
}

.blog-list button {
  padding: 8px 16px;
  background-color: #f2f2f2;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.blog-list button.edit {
  background-color: #bf5372;
  color: #fff;
}

.blog-list button.delete {
  background-color: #bf5372;
  color: #fff;
}


.blog-list button:hover {
  background-color: #ae785d;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #bf5372;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #bf5372;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* profile styling */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
}

/* Card styling */

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card2 {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.card-body {
  background-color: #eddad2;
  /* Pastel color */
  padding: 20px;
}

.card-title {
  color: #333333;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  color: #666666;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-footer {
  background-color: #f8d7da;
  /* Pastel color */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-muted {
  color: #999999;
  font-size: 14px;
}


/* Styling for form */

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container .ui.divider {
  margin: 20px 0;
}

.container .field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container .field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.container .field p {
  color: red;
  margin-top: 5px;
}

.container button {
  width: 100%;
  padding: 12px;
  background-color: #bf5372;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}