@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  background-color: #bf5372;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #fff;
  color: #ae785d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar h1 {
    margin-bottom: 10px;
  }

  .navbar .links {
    margin-top: 10px;
  }

  .navbar a {
    margin: 0;
  }
}


/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ae785d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ae785d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #ae785d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.blog-list table {
  width: 100%;
  border-collapse: collapse;
}

.blog-list th,
.blog-list td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.blog-list th {
  background-color: #f2f2f2;
}

.blog-list button {
  padding: 4px 8px;
  background-color: #bf5372;
  color: #fff;
  border: none;
  cursor: pointer;
}


.blog-list button:hover {
  background-color: #ae785d;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #ae785d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ae785d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}